*{
    margin: 0px;
    padding: 0px;
}
.contenidor{
 margin: 15px;
 width: 350px;
 height:300px;
 background-color: #00AAFB;
 overflow:hidden;
 float:left;
}

.cartell{
 width: 350px;
 height:300px;
 background-color: #00AAFB; sumen....
 overflow:hidden;
}

.info{
 width:350px;
 height:0px;
 background-color: #5D707F;
 overflow:hidden;
}

.imag{
 display:block;
 margin:70px auto;
 width: 145px;
 height: 145px;
}

p.titol{
 margin:5px;
 font-size: 1.1em;
 color:#66CED6;
 text-align: center;
 font-size: 1.3em;
}

p.mest{
 color:white;
 width:200px;
 margin-left: 15px;
 margin-top: 10px
}

.linc{
 float:right;
 margin-top: -35px;
 margin-right: 10px;
 padding: 10px 30px;
 background-color: #EDFFFB;
 font-size: .8em;
 color:black;
 text-decoration: none;
 border-radius: 10px;
}

.contenidor:hover .cartell{
 height:190px;
}
.contenidor:hover .info{
 height: 90px;
 transition: height 0.5s;
}

.contenidor:hover .imag{
 margin:30px auto;
 transition: margin 0.5s;
}