div#header{
    width: 100%;
    height: 200px;
    background-color: red;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

div#body{
    width: 960px;
    height: 600px;
    background-color: blue;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

div#footer{
    width: 100%;
    height: 200px;
    background-color: green;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

div#nav{
    width: 50%;    
    background-color: yellow;
}

div#cr7{
    background-color: purple;
    width: 100%;
    height: 50%;
    
    
}

div#div1{
    width: 30%;
    height: 95%;
    float: left;
    background-color: gray;
}

div#div2{
    width: 65%;
    height: 95%;

    background-color: orange
}