*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
}

header{
    width: 100%;
    background: #4C8FEC;
    
}

#btn-menu{
    display: none;
}

img{
    width: 30px;
}

header label{
    display: none;
    width:30px;
    height:30px;
    padding: 5px;
    border-right:2px solid white;
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li{
    border-right: 1px solid white;
    text-align: center;
    flex-grow: 1;
}

.menu li:hover{
    background: rgba(0,0,0,0.3);
}


.menu li a{
    display: block;
    padding: 15px 20px;
    color:white;
    text-decoration: none;
}



#contingut {
    padding: 20px;
}

@media(max-width:600px){
    header label{
        display: block;
    }
    
    .menu{
        position: absolute;
        background-color: #2572EB;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    
    .menu ul{
        flex-direction: column;   
    }
    
    .menu li{
        border-top: 2px solid white;
    }
    
    #btn-menu:checked~.menu{
        margin: 0px;
    }
    
}




