*{
    padding: 0px;
    margin: 0px;
}

form{
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    font: 20px arial, sans-serif;
    overflow: hidden;
    width:350px;
}

fieldset{
    border: 1px solid black;
}

.panell{
    padding: 20px 40px 20px 20px;
}

input{
    border-radius: 10px;
    font: 16px arial, sans-serif;
    margin: 0;
}

select{
     border-radius: 10px;
    font: 16px arial, sans-serif;
    margin: 0;
}

textarea{
     border-radius: 10px;
    font: 16px arial, sans-serif;
    margin: 0;
    resize: vertical;
}


.panell label{
    color: #395870;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.panell input{
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    color: #636466;
    padding: 6px;
    margin-top: 6px;
    width: 100%;
}

.panell select{
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    color: #636466;
    padding: 6px;
    margin-top: 6px;
    width: 105%;
}

.panell textarea{
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    color: #636466;
    padding: 6px;
    margin-top: 6px;
    width: 100%;
}


.panell2{
    background: #f0f0f2;
    border-top: 1px solid #c6c7cc;
    padding: 20px;
    
}

.panell2 .boto{
    background: linear-gradient(#49708f,#293f50);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
}

.panell2 label{
    color: #7c7c80;
    font-size: 15px;
    float: left;
    margin: 10px 0px 0px 10px;
}