*{
    padding: 0px;
    margin: 0px;
}

.contenidor{
    margin: auto;
    width: 600px;
    min-height: 150px;
    background-color: ;
}

.noticia{
    margin: auto;
    width: 600px;
    min-height: 50px;
    background-color: ;
}

.titol{
    width: 100%;
    height: 50px;
    background-color: brown;
    overflow: hidden;
}

.Lorem{
    margin: 15px;
    color: white;
}

.info{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: burlywood;
       
}

.missg{
    margin: 20px;
    text-align: justify;
    color: azure;
}

.icon-triangle-right{
    float: right;
    margin-right: 20px;
    margin-top: -5px;
    font-size: 30px;
    transform: rotate(-0deg);
    transition-duration: 0.5s;
    
}

.rotate{
    transform: rotate(90deg);
    transition-duration: 0.5s;
}