*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #153243;
}


header{
    width: 100%;
    background: #1F5673;
    text-align: center;
    margin: auto;    
    overflow: hidden;
    
}



header img{
    width: 30px;
}

header label{
    display: none;
    width:30px;
    height:30px;
    padding: 5px;
}

header label:hover{
    background-color: #759FBC;
    cursor: pointer;    
}

.menu_barra{
    display: none;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li{
    
    text-align: center;
    flex-grow: 1;
}

.m li:hover>a{
    background-color: #759FBC;
}



.menu li a{
    display: block;
    padding: 15px 0px;
    color:white; 
    text-decoration: none;
}



header nav ul li .subm-fill{   
    display: none;
background-color: #1F5673;
}

header nav ul li a{
    background-color:#1F5673; 
}

header nav ul li .subm-fill li{

 display:block;
 overflow:hidden;
 border-bottom: 1px solid #E8F1F2;
}

header nav ul li .subm-fill li a{

 display:block;
 text-align: center;
}


.submenu:hover{
    max-width: 20%;
}

header nav ul .submenu:hover .subm-fill{
    position: absolute;
    right: 0;
    width: 100%;
    display: flex; 
    
}


.subm-fill .subm-fill2{ 
 position: absolute;
    display: none;
background-color: #1F5673;
}

.subm-fill .subm-fill2 li{

 display:block;
 overflow:hidden;
 border-bottom: 1px solid #E8F1F2;
}

.subm-fill .subm-fill2 li a{
 display:block;
 text-align: center;
}

.subm-fill .subm-fill2 li a span{
 float: right;
 position:relative;
 margin-left: 10px;
}

.subm-fill li:hover .subm-fill2{
   
    display: block;
 
}

.subm-fill2 {
    width: 25%;
}

#contingut {
    padding: 20px;
}

@media(max-width:600px){
    /*header label{
        display: block;
    }
    
    .menu{
        position: absolute;
        background-color: #1F5673;
        width: 50%;
        margin-left: -50%;
        transition: all 0.5s;
    }
    
    .menu ul{
        flex-direction: column;
        border: 1px solid #153243;
    }
        
    .menu li{
        border: 1px solid #153243;
    }
    
    .menu li ul{
        margin-left: 100%;        
    }
    
    #btn-menu:checked~.menu{
        margin: 0px;
    }*/
    
    
     body{
     padding-top: 80px;
     }

    .menu_barra{
     width: 100%;
     background: #1F5673;
     display:block;
     position: fixed;
     top:0;
     }


    .menu_barra .boto-menu{
     display:block;
     padding: 20px;
     color:azure;
     overflow: hidden;
     font-size: 25px;
     font-weight: bold;
     text-decoration: none;
     }

    .menu_barra .icon-menu{        
     float: left;
     font-size: 40px;
     }
    
    .menu_barra .icon-menu:hover{
        color: gray;
    }

    .menu{
     width: 40%;
     left:-100%;
     position: fixed;
     }
    
    .m{
        
        position: relative;
        display: flex;
        flex-direction: column;
        
    }

    header nav ul li{
     display: block;
     position: relative;
     border-bottom: 1px solid #E8F1F2;
    }

    header nav ul li a{
        
     display: block;
    }    

    header nav ul li .subm-fill{
        display: none;
        width: 100%;
        position: relative;
    }
    
    header nav ul li:hover .subm-fill{
        display: flex;        
        flex-direction: column;
        z-index: 0;        
     }
    
    
    
    header nav ul li .icona2{
     float:right;
     margin-left:10px;
    }
    
    .submenu:hover{
    max-width: 100%;
       
    }
    
    
    
    
}



div#body{
    
    min-height: 600px;
    background-color: #153243;    
    margin: 0px auto;
    padding: 1.25em;

}

div#body .article{
    width: 90%;
    padding: 20px;
    background-color: #93A8AC;
    margin: auto;    
    text-align: justify; 
    overflow: hidden;
    
}

div#body img{
    float: left;
    width: 250px;
    margin-right: 20px;
}

div#body p{       
    padding: 10px;   
}

div#footer{
    width: 100%;
    height: 200px;
    background-color: #93A8AC;
    text-align: center;
    margin: auto;
}

/*
div#capcalera{
margin:auto;
height: 38px;
width:680px;
font-family: sans-serif;
background-color: #93A8AC;
}
*/

/*ul, ol {
list-style:none;
}*/

/*

.nav{
    margin: auto;
    display: inline-block;
}

.nav li a{
background-color:#1F5673;
color:white;
text-decoration:none;
padding:10px 15px;
display:block;
    min-width: 140px;
}

.nav>li{
float:left;
}

.nav li a:hover {
background-color: #759FBC;
cursor: pointer;
}

.nav li ul{
display:block;
position: absolute;
min-width: 140px;
visibility: hidden;
z-index: 1px;
visibility: hidden;
opacity: 0;
filter: alpha(opacity=0);
-webkit-transition:500ms ease;
-moz-transition:500ms ease;
-o-transition:500ms ease;
transition: 500ms ease;
}

.nav li:hover > ul {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);

}

.nav li:hover > a > span.fa-arrow-up {
transform: rotate(180deg);
transition-duration: 0.5s;
}

.nav li > a > span.fa-spinner {
transform: rotate(1000000deg);

}


.nav li ul li{
position:relative;
}

.nav li ul li ul{
right:-170px;
top:0px;
}

*/
