*{
    margin: 0px;
    padding: 0px;
}
div#contenidor{
    width: 100%;
    height: 800px;
}

div#header{
    width: 100%;
    height: 100px;
    background-color: #A37519;        
}

div#body{
    width: 100%;
    height: 700px;
    background-color: yellow;
}

div#sidebar{
    width: 80%;
    height: 660px;
    background-color: #339933;
    float: right;
    padding: 20px;
}

div#left{
    width: 33%;
    height: 500px;
    background-color: darksalmon;
    margin-bottom: 20px;
    float: left;
}

div#right{
    width: 33%;
    height: 500px;
    background-color: darksalmon;
    margin-bottom: 20px;
    float: right;
}

div#bottom{
    width: 100%;
    height: 140px;;
    background-color: darksalmon;
    float: left;
}

div#footer{
    max-width: 100%;
    height: 200px;
    background-color: #0099FF;
    padding: 20px;
}

div#f-left{
    width: 20%;
    height: 100%;
    background-color: darkblue;
    display: inline-block;
        
}

div#f-right{
    border:5px solid black ;
    background-color: gray;
    height: 100%;
    width: 10%;
    display: inline-block;
    float: right;
}





