*{
margin:0px;
padding:0px;
}
div#contenidor{
margin:auto;
margin-top:100px;
width:900px;
height:300px;
border:5px solid black;
}
div#esquerra{
width:300px;
height: 300px;
background-color: red;
float:left;
}
div#centro{
width:300px;
height: 300px;
background-color: blue;
float:left;
}
div#dreta{
width:300px;
height: 300px;
background-color: green;
float:left;
}

div#esquerra2{
width:300px;
height: 300px;
background-color: red;
position: absolute;
 
}
div#centro2{
width:300px;
height: 300px;
background-color: blue;
position: absolute;
margin-left: 300px;
}
div#dreta2{
width:300px;
height: 300px;
background-color: green;
position: absolute;
margin-left: 600px;
}

div#esquerra3{
width:300px;
height: 300px;
background-color: red;
display:inline-block;
 
}
div#centro3{
width:300px;
height: 300px;
background-color: blue;
display:inline-block;
margin-left: -4px;

}
div#dreta3{
width:300px;
height: 300px;
background-color: green;
display:inline-block;
margin-left: -4px;
}