*{
    margin: 0px;
    padding: 0px;
}

div#header{
    width: 100%;
    height: 100px;
    background-color: red;    
    margin: auto;
    margin-top: 20px;
}

div#capcalera{
    height: inherit;
    width: 25%;
    background-color: green;
    display: inline-block;
    float: left;
}

div#capcalera:hover{
    background-color: yellow;
}

div#body{
    width: 960px;
    height: 600px;
    background-color: blue;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}
#lateral1{
    width: 30%;
    height: 100%;
    background-color: aliceblue;
    float: left;
    
}
#lateral2{
    width: 70%;
    height: 100%;
    background-color:brown;
    float:right;
    
}

div#footer{
    width: 100%;
    height: 200px;
    background-color: green;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

