
.boto{
background: #7f8c8d;
color:white;
display: inline-block;
font-size: 1.25em;
margin:20px;
padding: 10px 0px;
text-align: center;
width: 200px;
text-decoration: none;
box-shadow: 0px 3px 0px #373c3c;
}

.boto span{
margin-right: 10px;
font-size: 1.25em;
}

.boto.blue{
background-color: #3498db;
box-shadow: 0px 3px 0px #2980b9;
}

.boto.verd{
background-color: #2ecc71;
box-shadow: 0px 3px 0px #27ae60;

}

.boto.mitja{
width:350px;
}
.boto.gran{
width:450px;
}

.boto.rodo{
border-radius: 10px;
}

.boto:hover{
box-shadow: 0px 0px 0px;
padding-top: 11px;

}

.boto:active{
    background: none;
    color: black;
}

.boto.blue:active{
    background-color: yellow;
}

.boto.verd:active{
    background-color: red;
}
