*{
    margin: 0px;
    padding: 0px;
}

div#header{
    width: 100%;
    height: 38px;
    background-color: #93A8AC;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    padding: 1em;
    position: fixed;

}

div#body{
    width: 960px;
    min-height: 600px;
    background-color: #93A8AC;
    text-align: justify;
    margin: 0px auto;
    padding: 1.25em;
    padding-top: 5em;
 /*   margin-top: 20px;*/

}

div#footer{
    width: 100%;
    height: 200px;
    background-color: green;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

div#capcalera{
margin:auto;
height: 38px;
width:680px;
font-family: sans-serif;
background-color: white;
}

ul, ol {
list-style:none;


}

.nav{
    margin: auto;
    display: inline-block;
}

.nav li a{
background-color:#1F5673;
color:white;
text-decoration:none;
padding:10px 15px;
display:block;
    min-width: 140px;
}

.nav>li{
float:left;
}

.nav li a:hover {
background-color: #759FBC;
cursor: pointer;
}

.nav li ul{
display:block;
position: absolute;
min-width: 140px;
visibility: hidden;
z-index: 1px;
visibility: hidden;
opacity: 0;
filter: alpha(opacity=0);
-webkit-transition:500ms ease;
-moz-transition:500ms ease;
-o-transition:500ms ease;
transition: 500ms ease;
}

.nav li:hover > ul {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);

}

.nav li:hover > a > span.fa-arrow-up {
transform: rotate(180deg);
transition-duration: 0.5s;
}

.nav li > a > span.fa-spinner {
transform: rotate(1000000deg);

}


.nav li ul li{
position:relative;
}

.nav li ul li ul{
right:-170px;
top:0px;
}

