*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #E8F1F2;
}

.menu_barra{
    display: none;
}

section{
    padding: 40px;
}

header{
    width: 100%;
}

header nav{
    background: #061826;
    z-index: 1000;
    max-width: 1000px;
    width: 95%;
    margin: 20px auto;
    right: -100%;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    position: relative;
}

header nav ul li a{
    color: #89AAE6;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

header nav ul li span{
    margin-right: 10px;
}

header nav ul li .icona2{
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0;
}

header nav ul li:hover{
    background: #0471A6;
}

header nav ul li:hover a{
    color: white;
}
 
header nav ul li .subm-fill{ 
 position: absolute;
    display: none;
background-color: #061826;
}

header nav ul li .subm-fill li{

 display:block;
 overflow:hidden;
 border-bottom: 1px solid #E8F1F2;
}

header nav ul li .subm-fill li a{
 display:block;
 text-align: left;
}

header nav ul li .subm-fill li a span{
 float: right;
 position:relative;
 margin-left: 10px;
}

header nav ul li:hover .subm-fill{
    display: block;
 
}

@media screen and (max-width:800px){

    body{
     padding-top: 60px;
     }

    .menu_barra{
     width: 100%;
     background: #061826;
     display:block;
     position: fixed;
     top:0;
     }


    .menu_barra .boto-menu{
     display:block;
     padding: 20px;
     color:#89AAE6;
     overflow: hidden;
     font-size: 25px;
     font-weight: bold;
     text-decoration: none;
     }

    .menu_barra span{
     float: right;
     font-size: 40px;
     }

        header nav{
     width: 40%;
     right:0%;
     position: fixed;
     overflow: hidden;
     }

    header nav ul li{
     display: block;
     border-bottom: 1px solid #E8F1F2;
    }

    header nav ul li a{
     display: block;
    }    

    header nav ul li .subm-fill{
     width: 100%;
     position: relative;
     /*display:block;*/
     }

    header nav ul li:hover .subm-fill{
    display: block;
     }
    
    header nav ul li .subm-fill li a{
     margin-left: 20px;
    }
    
    header nav ul li .icona2{
     float:right;
     margin-left:10px;
    }
    
}


