@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?d2wbu7');
	src:url('fonts/icomoon.eot?d2wbu7#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?d2wbu7') format('truetype'),
		url('fonts/icomoon.woff?d2wbu7') format('woff'),
		url('fonts/icomoon.svg?d2wbu7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {
	content: "\e800";
}
.icon-classic-computer:before {
	content: "\e801";
}
.icon-controller-fast-backward:before {
	content: "\e802";
}
.icon-creative-commons-attribution:before {
	content: "\e803";
}
.icon-creative-commons-noderivs:before {
	content: "\e804";
}
.icon-creative-commons-noncommercial-eu:before {
	content: "\e805";
}
.icon-creative-commons-noncommercial-us:before {
	content: "\e806";
}
.icon-creative-commons-public-domain:before {
	content: "\e807";
}
.icon-creative-commons-remix:before {
	content: "\e808";
}
.icon-creative-commons-share:before {
	content: "\e809";
}
.icon-creative-commons-sharealike:before {
	content: "\e80a";
}
.icon-creative-commons:before {
	content: "\e80b";
}
.icon-document-landscape:before {
	content: "\e80c";
}
.icon-remove-user:before {
	content: "\e80d";
}
.icon-warning:before {
	content: "\e80e";
}
.icon-arrow-bold-down:before {
	content: "\e80f";
}
.icon-arrow-bold-left:before {
	content: "\e810";
}
.icon-arrow-bold-right:before {
	content: "\e811";
}
.icon-arrow-bold-up:before {
	content: "\e812";
}
.icon-arrow-down:before {
	content: "\e813";
}
.icon-arrow-left:before {
	content: "\e814";
}
.icon-arrow-long-down:before {
	content: "\e815";
}
.icon-arrow-long-left:before {
	content: "\e816";
}
.icon-arrow-long-right:before {
	content: "\e817";
}
.icon-arrow-long-up:before {
	content: "\e818";
}
.icon-arrow-right:before {
	content: "\e819";
}
.icon-arrow-up:before {
	content: "\e81a";
}
.icon-arrow-with-circle-down:before {
	content: "\e81b";
}
.icon-arrow-with-circle-left:before {
	content: "\e81c";
}
.icon-arrow-with-circle-right:before {
	content: "\e81d";
}
.icon-arrow-with-circle-up:before {
	content: "\e81e";
}
.icon-bookmark:before {
	content: "\e81f";
}
.icon-bookmarks:before {
	content: "\e820";
}
.icon-chevron-down:before {
	content: "\e821";
}
.icon-chevron-left:before {
	content: "\e822";
}
.icon-chevron-right:before {
	content: "\e823";
}
.icon-chevron-small-down:before {
	content: "\e824";
}
.icon-chevron-small-left:before {
	content: "\e825";
}
.icon-chevron-small-right:before {
	content: "\e826";
}
.icon-chevron-small-up:before {
	content: "\e827";
}
.icon-chevron-thin-down:before {
	content: "\e828";
}
.icon-chevron-thin-left:before {
	content: "\e829";
}
.icon-chevron-thin-right:before {
	content: "\e82a";
}
.icon-chevron-thin-up:before {
	content: "\e82b";
}
.icon-chevron-up:before {
	content: "\e82c";
}
.icon-chevron-with-circle-down:before {
	content: "\e82d";
}
.icon-chevron-with-circle-left:before {
	content: "\e82e";
}
.icon-chevron-with-circle-right:before {
	content: "\e82f";
}
.icon-chevron-with-circle-up:before {
	content: "\e830";
}
.icon-cloud:before {
	content: "\e831";
}
.icon-controller-fast-forward:before {
	content: "\e832";
}
.icon-controller-jump-to-start:before {
	content: "\e833";
}
.icon-controller-next:before {
	content: "\e834";
}
.icon-controller-paus:before {
	content: "\e835";
}
.icon-controller-play:before {
	content: "\e836";
}
.icon-controller-record:before {
	content: "\e837";
}
.icon-controller-stop:before {
	content: "\e838";
}
.icon-controller-volume:before {
	content: "\e839";
}
.icon-dot-single:before {
	content: "\e83a";
}
.icon-dots-three-horizontal:before {
	content: "\e83b";
}
.icon-dots-three-vertical:before {
	content: "\e83c";
}
.icon-dots-two-horizontal:before {
	content: "\e83d";
}
.icon-dots-two-vertical:before {
	content: "\e83e";
}
.icon-download:before {
	content: "\e83f";
}
.icon-emoji-flirt:before {
	content: "\e840";
}
.icon-flow-branch:before {
	content: "\e841";
}
.icon-flow-cascade:before {
	content: "\e842";
}
.icon-flow-line:before {
	content: "\e843";
}
.icon-flow-parallel:before {
	content: "\e844";
}
.icon-flow-tree:before {
	content: "\e845";
}
.icon-install:before {
	content: "\e846";
}
.icon-layers:before {
	content: "\e847";
}
.icon-open-book:before {
	content: "\e848";
}
.icon-resize-100:before {
	content: "\e849";
}
.icon-resize-full-screen:before {
	content: "\e84a";
}
.icon-save:before {
	content: "\e84b";
}
.icon-select-arrows:before {
	content: "\e84c";
}
.icon-sound-mute:before {
	content: "\e84d";
}
.icon-sound:before {
	content: "\e84e";
}
.icon-trash:before {
	content: "\e84f";
}
.icon-triangle-down:before {
	content: "\e850";
}
.icon-triangle-left:before {
	content: "\e851";
}
.icon-triangle-right:before {
	content: "\e852";
}
.icon-triangle-up:before {
	content: "\e853";
}
.icon-uninstall:before {
	content: "\e854";
}
.icon-upload-to-cloud:before {
	content: "\e855";
}
.icon-upload:before {
	content: "\e856";
}
.icon-add-user:before {
	content: "\e857";
}
.icon-address:before {
	content: "\e858";
}
.icon-adjust:before {
	content: "\e859";
}
.icon-air:before {
	content: "\e85a";
}
.icon-aircraft-landing:before {
	content: "\e85b";
}
.icon-aircraft-take-off:before {
	content: "\e85c";
}
.icon-aircraft:before {
	content: "\e85d";
}
.icon-align-bottom:before {
	content: "\e85e";
}
.icon-align-horizontal-middle:before {
	content: "\e85f";
}
.icon-align-left:before {
	content: "\e860";
}
.icon-align-right:before {
	content: "\e861";
}
.icon-align-top:before {
	content: "\e862";
}
.icon-align-vertical-middle:before {
	content: "\e863";
}
.icon-archive:before {
	content: "\e864";
}
.icon-area-graph:before {
	content: "\e865";
}
.icon-attachment:before {
	content: "\e866";
}
.icon-awareness-ribbon:before {
	content: "\e867";
}
.icon-back-in-time:before {
	content: "\e868";
}
.icon-back:before {
	content: "\e869";
}
.icon-bar-graph:before {
	content: "\e86a";
}
.icon-battery:before {
	content: "\e86b";
}
.icon-beamed-note:before {
	content: "\e86c";
}
.icon-bell:before {
	content: "\e86d";
}
.icon-blackboard:before {
	content: "\e86e";
}
.icon-block:before {
	content: "\e86f";
}
.icon-book:before {
	content: "\e870";
}
.icon-bowl:before {
	content: "\e871";
}
.icon-box:before {
	content: "\e872";
}
.icon-briefcase:before {
	content: "\e873";
}
.icon-browser:before {
	content: "\e874";
}
.icon-brush:before {
	content: "\e875";
}
.icon-bucket:before {
	content: "\e876";
}
.icon-cake:before {
	content: "\e877";
}
.icon-calculator:before {
	content: "\e878";
}
.icon-calendar:before {
	content: "\e879";
}
.icon-camera:before {
	content: "\e87a";
}
.icon-ccw:before {
	content: "\e87b";
}
.icon-chat:before {
	content: "\e87c";
}
.icon-check:before {
	content: "\e87d";
}
.icon-circle-with-cross:before {
	content: "\e87e";
}
.icon-circle-with-minus:before {
	content: "\e87f";
}
.icon-circle-with-plus:before {
	content: "\e880";
}
.icon-circle:before {
	content: "\e881";
}
.icon-circular-graph:before {
	content: "\e882";
}
.icon-clapperboard:before {
	content: "\e883";
}
.icon-clipboard:before {
	content: "\e884";
}
.icon-clock:before {
	content: "\e885";
}
.icon-code:before {
	content: "\e886";
}
.icon-cog:before {
	content: "\e887";
}
.icon-colours:before {
	content: "\e888";
}
.icon-compass:before {
	content: "\e889";
}
.icon-copy:before {
	content: "\e88a";
}
.icon-credit-card:before {
	content: "\e88b";
}
.icon-credit:before {
	content: "\e88c";
}
.icon-cross:before {
	content: "\e88d";
}
.icon-cup:before {
	content: "\e88e";
}
.icon-cw:before {
	content: "\e88f";
}
.icon-cycle:before {
	content: "\e890";
}
.icon-database:before {
	content: "\e891";
}
.icon-dial-pad:before {
	content: "\e892";
}
.icon-direction:before {
	content: "\e893";
}
.icon-document:before {
	content: "\e894";
}
.icon-documents:before {
	content: "\e895";
}
.icon-drink:before {
	content: "\e896";
}
.icon-drive:before {
	content: "\e897";
}
.icon-drop:before {
	content: "\e898";
}
.icon-edit:before {
	content: "\e899";
}
.icon-email:before {
	content: "\e89a";
}
.icon-emoji-happy:before {
	content: "\e89b";
}
.icon-emoji-neutral:before {
	content: "\e89c";
}
.icon-emoji-sad:before {
	content: "\e89d";
}
.icon-erase:before {
	content: "\e89e";
}
.icon-eraser:before {
	content: "\e89f";
}
.icon-export:before {
	content: "\e8a0";
}
.icon-eye:before {
	content: "\e8a1";
}
.icon-feather:before {
	content: "\e8a2";
}
.icon-flag:before {
	content: "\e8a3";
}
.icon-flash:before {
	content: "\e8a4";
}
.icon-flashlight:before {
	content: "\e8a5";
}
.icon-flat-brush:before {
	content: "\e8a6";
}
.icon-folder-images:before {
	content: "\e8a7";
}
.icon-folder-music:before {
	content: "\e8a8";
}
.icon-folder-video:before {
	content: "\e8a9";
}
.icon-folder:before {
	content: "\e8aa";
}
.icon-forward:before {
	content: "\e8ab";
}
.icon-funnel:before {
	content: "\e8ac";
}
.icon-game-controller:before {
	content: "\e8ad";
}
.icon-gauge:before {
	content: "\e8ae";
}
.icon-globe:before {
	content: "\e8af";
}
.icon-graduation-cap:before {
	content: "\e8b0";
}
.icon-grid:before {
	content: "\e8b1";
}
.icon-hair-cross:before {
	content: "\e8b2";
}
.icon-hand:before {
	content: "\e8b3";
}
.icon-heart-outlined:before {
	content: "\e8b4";
}
.icon-heart:before {
	content: "\e8b5";
}
.icon-help-with-circle:before {
	content: "\e8b6";
}
.icon-help:before {
	content: "\e8b7";
}
.icon-home:before {
	content: "\e8b8";
}
.icon-hour-glass:before {
	content: "\e8b9";
}
.icon-image-inverted:before {
	content: "\e8ba";
}
.icon-image:before {
	content: "\e8bb";
}
.icon-images:before {
	content: "\e8bc";
}
.icon-inbox:before {
	content: "\e8bd";
}
.icon-infinity:before {
	content: "\e8be";
}
.icon-info-with-circle:before {
	content: "\e8bf";
}
.icon-info:before {
	content: "\e8c0";
}
.icon-key:before {
	content: "\e8c1";
}
.icon-keyboard:before {
	content: "\e8c2";
}
.icon-lab-flask:before {
	content: "\e8c3";
}
.icon-landline:before {
	content: "\e8c4";
}
.icon-language:before {
	content: "\e8c5";
}
.icon-laptop:before {
	content: "\e8c6";
}
.icon-leaf:before {
	content: "\e8c7";
}
.icon-level-down:before {
	content: "\e8c8";
}
.icon-level-up:before {
	content: "\e8c9";
}
.icon-lifebuoy:before {
	content: "\e8ca";
}
.icon-light-bulb:before {
	content: "\e8cb";
}
.icon-light-down:before {
	content: "\e8cc";
}
.icon-light-up:before {
	content: "\e8cd";
}
.icon-line-graph:before {
	content: "\e8ce";
}
.icon-link:before {
	content: "\e8cf";
}
.icon-list:before {
	content: "\e8d0";
}
.icon-location-pin:before {
	content: "\e8d1";
}
.icon-location:before {
	content: "\e8d2";
}
.icon-lock-open:before {
	content: "\e8d3";
}
.icon-lock:before {
	content: "\e8d4";
}
.icon-log-out:before {
	content: "\e8d5";
}
.icon-login:before {
	content: "\e8d6";
}
.icon-loop:before {
	content: "\e8d7";
}
.icon-magnet:before {
	content: "\e8d8";
}
.icon-magnifying-glass:before {
	content: "\e8d9";
}
.icon-mail:before {
	content: "\e8da";
}
.icon-man:before {
	content: "\e8db";
}
.icon-map:before {
	content: "\e8dc";
}
.icon-mask:before {
	content: "\e8dd";
}
.icon-medal:before {
	content: "\e8de";
}
.icon-megaphone:before {
	content: "\e8df";
}
.icon-menu:before {
	content: "\e8e0";
}
.icon-message:before {
	content: "\e8e1";
}
.icon-mic:before {
	content: "\e8e2";
}
.icon-minus:before {
	content: "\e8e3";
}
.icon-mobile:before {
	content: "\e8e4";
}
.icon-modern-mic:before {
	content: "\e8e5";
}
.icon-moon:before {
	content: "\e8e6";
}
.icon-mouse:before {
	content: "\e8e7";
}
.icon-music:before {
	content: "\e8e8";
}
.icon-network:before {
	content: "\e8e9";
}
.icon-new-message:before {
	content: "\e8ea";
}
.icon-new:before {
	content: "\e8eb";
}
.icon-news:before {
	content: "\e8ec";
}
.icon-note:before {
	content: "\e8ed";
}
.icon-notification:before {
	content: "\e8ee";
}
.icon-old-mobile:before {
	content: "\e8ef";
}
.icon-old-phone:before {
	content: "\e8f0";
}
.icon-palette:before {
	content: "\e8f1";
}
.icon-paper-plane:before {
	content: "\e8f2";
}
.icon-pencil:before {
	content: "\e8f3";
}
.icon-phone:before {
	content: "\e8f4";
}
.icon-pie-chart:before {
	content: "\e8f5";
}
.icon-pin:before {
	content: "\e8f6";
}
.icon-plus:before {
	content: "\e8f7";
}
.icon-popup:before {
	content: "\e8f8";
}
.icon-power-plug:before {
	content: "\e8f9";
}
.icon-price-ribbon:before {
	content: "\e8fa";
}
.icon-price-tag:before {
	content: "\e8fb";
}
.icon-print:before {
	content: "\e8fc";
}
.icon-progress-empty:before {
	content: "\e8fd";
}
.icon-progress-full:before {
	content: "\e8fe";
}
.icon-progress-one:before {
	content: "\e8ff";
}
.icon-progress-two:before {
	content: "\e900";
}
.icon-publish:before {
	content: "\e901";
}
.icon-quote:before {
	content: "\e902";
}
.icon-radio:before {
	content: "\e903";
}
.icon-reply-all:before {
	content: "\e904";
}
.icon-reply:before {
	content: "\e905";
}
.icon-retweet:before {
	content: "\e906";
}
.icon-rocket:before {
	content: "\e907";
}
.icon-round-brush:before {
	content: "\e908";
}
.icon-rss:before {
	content: "\e909";
}
.icon-ruler:before {
	content: "\e90a";
}
.icon-scissors:before {
	content: "\e90b";
}
.icon-share-alternitive:before {
	content: "\e90c";
}
.icon-share:before {
	content: "\e90d";
}
.icon-shareable:before {
	content: "\e90e";
}
.icon-shield:before {
	content: "\e90f";
}
.icon-shop:before {
	content: "\e910";
}
.icon-shopping-bag:before {
	content: "\e911";
}
.icon-shopping-basket:before {
	content: "\e912";
}
.icon-shopping-cart:before {
	content: "\e913";
}
.icon-shuffle:before {
	content: "\e914";
}
.icon-signal:before {
	content: "\e915";
}
.icon-sound-mix:before {
	content: "\e916";
}
.icon-sports-club:before {
	content: "\e917";
}
.icon-spreadsheet:before {
	content: "\e918";
}
.icon-squared-cross:before {
	content: "\e919";
}
.icon-squared-minus:before {
	content: "\e91a";
}
.icon-squared-plus:before {
	content: "\e91b";
}
.icon-star-outlined:before {
	content: "\e91c";
}
.icon-star:before {
	content: "\e91d";
}
.icon-stopwatch:before {
	content: "\e91e";
}
.icon-suitcase:before {
	content: "\e91f";
}
.icon-swap:before {
	content: "\e920";
}
.icon-sweden:before {
	content: "\e921";
}
.icon-switch:before {
	content: "\e922";
}
.icon-tablet:before {
	content: "\e923";
}
.icon-tag:before {
	content: "\e924";
}
.icon-text-document-inverted:before {
	content: "\e925";
}
.icon-text-document:before {
	content: "\e926";
}
.icon-text:before {
	content: "\e927";
}
.icon-thermometer:before {
	content: "\e928";
}
.icon-thumbs-down:before {
	content: "\e929";
}
.icon-thumbs-up:before {
	content: "\e92a";
}
.icon-thunder-cloud:before {
	content: "\e92b";
}
.icon-ticket:before {
	content: "\e92c";
}
.icon-time-slot:before {
	content: "\e92d";
}
.icon-tools:before {
	content: "\e92e";
}
.icon-traffic-cone:before {
	content: "\e92f";
}
.icon-tree:before {
	content: "\e930";
}
.icon-trophy:before {
	content: "\e931";
}
.icon-tv:before {
	content: "\e932";
}
.icon-typing:before {
	content: "\e933";
}
.icon-unread:before {
	content: "\e934";
}
.icon-untag:before {
	content: "\e935";
}
.icon-user:before {
	content: "\e936";
}
.icon-users:before {
	content: "\e937";
}
.icon-v-card:before {
	content: "\e938";
}
.icon-video:before {
	content: "\e939";
}
.icon-vinyl:before {
	content: "\e93a";
}
.icon-voicemail:before {
	content: "\e93b";
}
.icon-wallet:before {
	content: "\e93c";
}
.icon-water:before {
	content: "\e93d";
}
.icon-500px-with-circle:before {
	content: "\e93e";
}
.icon-500px:before {
	content: "\e93f";
}
.icon-basecamp:before {
	content: "\e940";
}
.icon-behance:before {
	content: "\e941";
}
.icon-creative-cloud:before {
	content: "\e942";
}
.icon-dropbox:before {
	content: "\e943";
}
.icon-evernote:before {
	content: "\e944";
}
.icon-flattr:before {
	content: "\e945";
}
.icon-foursquare:before {
	content: "\e946";
}
.icon-google-drive:before {
	content: "\e947";
}
.icon-google-hangouts:before {
	content: "\e948";
}
.icon-grooveshark:before {
	content: "\e949";
}
.icon-icloud:before {
	content: "\e94a";
}
.icon-mixi:before {
	content: "\e94b";
}
.icon-onedrive:before {
	content: "\e94c";
}
.icon-paypal:before {
	content: "\e94d";
}
.icon-picasa:before {
	content: "\e94e";
}
.icon-qq:before {
	content: "\e94f";
}
.icon-rdio-with-circle:before {
	content: "\e950";
}
.icon-renren:before {
	content: "\e951";
}
.icon-scribd:before {
	content: "\e952";
}
.icon-sina-weibo:before {
	content: "\e953";
}
.icon-skype-with-circle:before {
	content: "\e954";
}
.icon-skype:before {
	content: "\e955";
}
.icon-slideshare:before {
	content: "\e956";
}
.icon-smashing:before {
	content: "\e957";
}
.icon-soundcloud:before {
	content: "\e958";
}
.icon-spotify-with-circle:before {
	content: "\e959";
}
.icon-spotify:before {
	content: "\e95a";
}
.icon-swarm:before {
	content: "\e95b";
}
.icon-vine-with-circle:before {
	content: "\e95c";
}
.icon-vine:before {
	content: "\e95d";
}
.icon-vk-alternitive:before {
	content: "\e95e";
}
.icon-vk-with-circle:before {
	content: "\e95f";
}
.icon-vk:before {
	content: "\e960";
}
.icon-xing-with-circle:before {
	content: "\e961";
}
.icon-xing:before {
	content: "\e962";
}
.icon-yelp:before {
	content: "\e963";
}
.icon-dribbble-with-circle:before {
	content: "\e964";
}
.icon-dribbble:before {
	content: "\e965";
}
.icon-facebook-with-circle:before {
	content: "\e966";
}
.icon-facebook:before {
	content: "\e967";
}
.icon-flickr-with-circle:before {
	content: "\e968";
}
.icon-flickr:before {
	content: "\e969";
}
.icon-github-with-circle:before {
	content: "\e96a";
}
.icon-github:before {
	content: "\e96b";
}
.icon-google-with-circle:before {
	content: "\e96c";
}
.icon-google:before {
	content: "\e96d";
}
.icon-instagram-with-circle:before {
	content: "\e96e";
}
.icon-instagram:before {
	content: "\e96f";
}
.icon-lastfm-with-circle:before {
	content: "\e970";
}
.icon-lastfm:before {
	content: "\e971";
}
.icon-linkedin-with-circle:before {
	content: "\e972";
}
.icon-linkedin:before {
	content: "\e973";
}
.icon-pinterest-with-circle:before {
	content: "\e974";
}
.icon-pinterest:before {
	content: "\e975";
}
.icon-rdio:before {
	content: "\e976";
}
.icon-stumbleupon-with-circle:before {
	content: "\e977";
}
.icon-stumbleupon:before {
	content: "\e978";
}
.icon-tumblr-with-circle:before {
	content: "\e979";
}
.icon-tumblr:before {
	content: "\e97a";
}
.icon-twitter-with-circle:before {
	content: "\e97b";
}
.icon-twitter:before {
	content: "\e97c";
}
.icon-vimeo-with-circle:before {
	content: "\e97d";
}
.icon-vimeo:before {
	content: "\e97e";
}
.icon-youtube-with-circle:before {
	content: "\e97f";
}
.icon-youtube:before {
	content: "\e980";
}
.icon-home4:before {
	content: "\e981";
}
.icon-home2:before {
	content: "\e982";
}
.icon-home3:before {
	content: "\e983";
}
.icon-office:before {
	content: "\e984";
}
.icon-newspaper:before {
	content: "\e985";
}
.icon-pencil3:before {
	content: "\e986";
}
.icon-pencil2:before {
	content: "\e987";
}
.icon-quill:before {
	content: "\e988";
}
.icon-pen:before {
	content: "\e989";
}
.icon-blog:before {
	content: "\e98a";
}
.icon-eyedropper:before {
	content: "\e98b";
}
.icon-droplet:before {
	content: "\e98c";
}
.icon-paint-format:before {
	content: "\e98d";
}
.icon-image2:before {
	content: "\e98e";
}
.icon-images2:before {
	content: "\e98f";
}
.icon-camera2:before {
	content: "\e990";
}
.icon-headphones:before {
	content: "\e991";
}
.icon-music2:before {
	content: "\e992";
}
.icon-play:before {
	content: "\e993";
}
.icon-film:before {
	content: "\e994";
}
.icon-video-camera:before {
	content: "\e995";
}
.icon-dice:before {
	content: "\e996";
}
.icon-pacman:before {
	content: "\e997";
}
.icon-spades:before {
	content: "\e998";
}
.icon-clubs:before {
	content: "\e999";
}
.icon-diamonds:before {
	content: "\e99a";
}
.icon-bullhorn:before {
	content: "\e99b";
}
.icon-connection:before {
	content: "\e99c";
}
.icon-podcast:before {
	content: "\e99d";
}
.icon-feed:before {
	content: "\e99e";
}
.icon-mic2:before {
	content: "\e99f";
}
.icon-book2:before {
	content: "\e9a0";
}
.icon-books:before {
	content: "\e9a1";
}
.icon-library:before {
	content: "\e9a2";
}
.icon-file-text:before {
	content: "\e9a3";
}
.icon-profile:before {
	content: "\e9a4";
}
.icon-file-empty:before {
	content: "\e9a5";
}
.icon-files-empty:before {
	content: "\e9a6";
}
.icon-file-text2:before {
	content: "\e9a7";
}
.icon-file-picture:before {
	content: "\e9a8";
}
.icon-file-music:before {
	content: "\e9a9";
}
.icon-file-play:before {
	content: "\e9aa";
}
.icon-file-video:before {
	content: "\e9ab";
}
.icon-file-zip:before {
	content: "\e9ac";
}
.icon-copy2:before {
	content: "\e9ad";
}
.icon-paste:before {
	content: "\e9ae";
}
.icon-stack:before {
	content: "\e9af";
}
.icon-folder2:before {
	content: "\e9b0";
}
.icon-folder-open:before {
	content: "\e9b1";
}
.icon-folder-plus:before {
	content: "\e9b2";
}
.icon-folder-minus:before {
	content: "\e9b3";
}
.icon-folder-download:before {
	content: "\e9b4";
}
.icon-folder-upload:before {
	content: "\e9b5";
}
.icon-price-tag2:before {
	content: "\e9b6";
}
.icon-price-tags:before {
	content: "\e9b7";
}
.icon-barcode:before {
	content: "\e9b8";
}
.icon-qrcode:before {
	content: "\e9b9";
}
.icon-ticket2:before {
	content: "\e9ba";
}
.icon-cart:before {
	content: "\e9bb";
}
.icon-coin-dollar:before {
	content: "\e9bc";
}
.icon-coin-euro:before {
	content: "\e9bd";
}
.icon-coin-pound:before {
	content: "\e9be";
}
.icon-coin-yen:before {
	content: "\e9bf";
}
.icon-credit-card2:before {
	content: "\e9c0";
}
.icon-calculator2:before {
	content: "\e9c1";
}
.icon-lifebuoy2:before {
	content: "\e9c2";
}
.icon-phone2:before {
	content: "\e9c3";
}
.icon-phone-hang-up:before {
	content: "\e9c4";
}
.icon-address-book:before {
	content: "\e9c5";
}
.icon-envelop:before {
	content: "\e9c6";
}
.icon-pushpin:before {
	content: "\e9c7";
}
.icon-location3:before {
	content: "\e9c8";
}
.icon-location2:before {
	content: "\e9c9";
}
.icon-compass3:before {
	content: "\e9ca";
}
.icon-compass2:before {
	content: "\e9cb";
}
.icon-map3:before {
	content: "\e9cc";
}
.icon-map2:before {
	content: "\e9cd";
}
.icon-history:before {
	content: "\e9ce";
}
.icon-clock3:before {
	content: "\e9cf";
}
.icon-clock2:before {
	content: "\e9d0";
}
.icon-alarm:before {
	content: "\e9d1";
}
.icon-bell2:before {
	content: "\e9d2";
}
.icon-stopwatch2:before {
	content: "\e9d3";
}
.icon-calendar2:before {
	content: "\e9d4";
}
.icon-printer:before {
	content: "\e9d5";
}
.icon-keyboard2:before {
	content: "\e9d6";
}
.icon-display:before {
	content: "\e9d7";
}
.icon-laptop2:before {
	content: "\e9d8";
}
.icon-mobile3:before {
	content: "\e9d9";
}
.icon-mobile2:before {
	content: "\e9da";
}
.icon-tablet2:before {
	content: "\e9db";
}
.icon-tv2:before {
	content: "\e9dc";
}
.icon-drawer:before {
	content: "\e9dd";
}
.icon-drawer2:before {
	content: "\e9de";
}
.icon-box-add:before {
	content: "\e9df";
}
.icon-box-remove:before {
	content: "\e9e0";
}
.icon-download4:before {
	content: "\e9e1";
}
.icon-upload4:before {
	content: "\e9e2";
}
.icon-floppy-disk:before {
	content: "\e9e3";
}
.icon-drive2:before {
	content: "\e9e4";
}
.icon-database2:before {
	content: "\e9e5";
}
.icon-undo:before {
	content: "\e9e6";
}
.icon-redo:before {
	content: "\e9e7";
}
.icon-undo2:before {
	content: "\e9e8";
}
.icon-redo2:before {
	content: "\e9e9";
}
.icon-forward4:before {
	content: "\e9ea";
}
.icon-reply2:before {
	content: "\e9eb";
}
.icon-bubble:before {
	content: "\e9ec";
}
.icon-bubbles:before {
	content: "\e9ed";
}
.icon-bubbles2:before {
	content: "\e9ee";
}
.icon-bubble2:before {
	content: "\e9ef";
}
.icon-bubbles3:before {
	content: "\e9f0";
}
.icon-bubbles4:before {
	content: "\e9f1";
}
.icon-user2:before {
	content: "\e9f2";
}
.icon-users2:before {
	content: "\e9f3";
}
.icon-user-plus:before {
	content: "\e9f4";
}
.icon-user-minus:before {
	content: "\e9f5";
}
.icon-user-check:before {
	content: "\e9f6";
}
.icon-user-tie:before {
	content: "\e9f7";
}
.icon-quotes-left:before {
	content: "\e9f8";
}
.icon-quotes-right:before {
	content: "\e9f9";
}
.icon-hour-glass2:before {
	content: "\e9fa";
}
.icon-spinner:before {
	content: "\e9fb";
}
.icon-spinner2:before {
	content: "\e9fc";
}
.icon-spinner3:before {
	content: "\e9fd";
}
.icon-spinner4:before {
	content: "\e9fe";
}
.icon-spinner5:before {
	content: "\e9ff";
}
.icon-spinner6:before {
	content: "\ea00";
}
.icon-spinner7:before {
	content: "\ea01";
}
.icon-spinner8:before {
	content: "\ea02";
}
.icon-spinner9:before {
	content: "\ea03";
}
.icon-spinner10:before {
	content: "\ea04";
}
.icon-spinner11:before {
	content: "\ea05";
}
.icon-binoculars:before {
	content: "\ea06";
}
.icon-search:before {
	content: "\ea07";
}
.icon-zoom-in:before {
	content: "\ea08";
}
.icon-zoom-out:before {
	content: "\ea09";
}
.icon-enlarge:before {
	content: "\ea0a";
}
.icon-shrink:before {
	content: "\ea0b";
}
.icon-enlarge2:before {
	content: "\ea0c";
}
.icon-shrink2:before {
	content: "\ea0d";
}
.icon-key3:before {
	content: "\ea0e";
}
.icon-key2:before {
	content: "\ea0f";
}
.icon-lock2:before {
	content: "\ea10";
}
.icon-unlocked:before {
	content: "\ea11";
}
.icon-wrench:before {
	content: "\ea12";
}
.icon-equalizer:before {
	content: "\ea13";
}
.icon-equalizer2:before {
	content: "\ea14";
}
.icon-cog2:before {
	content: "\ea15";
}
.icon-cogs:before {
	content: "\ea16";
}
.icon-hammer:before {
	content: "\ea17";
}
.icon-magic-wand:before {
	content: "\ea18";
}
.icon-aid-kit:before {
	content: "\ea19";
}
.icon-bug:before {
	content: "\ea1a";
}
.icon-pie-chart2:before {
	content: "\ea1b";
}
.icon-stats-dots:before {
	content: "\ea1c";
}
.icon-stats-bars:before {
	content: "\ea1d";
}
.icon-stats-bars2:before {
	content: "\ea1e";
}
.icon-trophy2:before {
	content: "\ea1f";
}
.icon-gift:before {
	content: "\ea20";
}
.icon-glass:before {
	content: "\ea21";
}
.icon-glass2:before {
	content: "\ea22";
}
.icon-mug:before {
	content: "\ea23";
}
.icon-spoon-knife:before {
	content: "\ea24";
}
.icon-leaf2:before {
	content: "\ea25";
}
.icon-rocket2:before {
	content: "\ea26";
}
.icon-meter:before {
	content: "\ea27";
}
.icon-meter2:before {
	content: "\ea28";
}
.icon-hammer2:before {
	content: "\ea29";
}
.icon-fire:before {
	content: "\ea2a";
}
.icon-lab:before {
	content: "\ea2b";
}
.icon-magnet2:before {
	content: "\ea2c";
}
.icon-bin:before {
	content: "\ea2d";
}
.icon-bin2:before {
	content: "\ea2e";
}
.icon-briefcase2:before {
	content: "\ea2f";
}
.icon-airplane:before {
	content: "\ea30";
}
.icon-truck:before {
	content: "\ea31";
}
.icon-road:before {
	content: "\ea32";
}
.icon-accessibility:before {
	content: "\ea33";
}
.icon-target:before {
	content: "\ea34";
}
.icon-shield2:before {
	content: "\ea35";
}
.icon-power:before {
	content: "\ea36";
}
.icon-switch2:before {
	content: "\ea37";
}
.icon-power-cord:before {
	content: "\ea38";
}
.icon-clipboard2:before {
	content: "\ea39";
}
.icon-list-numbered:before {
	content: "\ea3a";
}
.icon-list3:before {
	content: "\ea3b";
}
.icon-list2:before {
	content: "\ea3c";
}
.icon-tree2:before {
	content: "\ea3d";
}
.icon-menu5:before {
	content: "\ea3e";
}
.icon-menu2:before {
	content: "\ea3f";
}
.icon-menu3:before {
	content: "\ea40";
}
.icon-menu4:before {
	content: "\ea41";
}
.icon-cloud2:before {
	content: "\ea42";
}
.icon-cloud-download:before {
	content: "\ea43";
}
.icon-cloud-upload:before {
	content: "\ea44";
}
.icon-cloud-check:before {
	content: "\ea45";
}
.icon-download2:before {
	content: "\ea46";
}
.icon-upload2:before {
	content: "\ea47";
}
.icon-download3:before {
	content: "\ea48";
}
.icon-upload3:before {
	content: "\ea49";
}
.icon-sphere:before {
	content: "\ea4a";
}
.icon-earth:before {
	content: "\ea4b";
}
.icon-link2:before {
	content: "\ea4c";
}
.icon-flag2:before {
	content: "\ea4d";
}
.icon-attachment2:before {
	content: "\ea4e";
}
.icon-eye2:before {
	content: "\ea4f";
}
.icon-eye-plus:before {
	content: "\ea50";
}
.icon-eye-minus:before {
	content: "\ea51";
}
.icon-eye-blocked:before {
	content: "\ea52";
}
.icon-bookmark2:before {
	content: "\ea53";
}
.icon-bookmarks2:before {
	content: "\ea54";
}
.icon-sun:before {
	content: "\ea55";
}
.icon-contrast:before {
	content: "\ea56";
}
.icon-brightness-contrast:before {
	content: "\ea57";
}
.icon-star-empty:before {
	content: "\ea58";
}
.icon-star-half:before {
	content: "\ea59";
}
.icon-star-full:before {
	content: "\ea5a";
}
.icon-heart2:before {
	content: "\ea5b";
}
.icon-heart-broken:before {
	content: "\ea5c";
}
.icon-man2:before {
	content: "\ea5d";
}
.icon-woman:before {
	content: "\ea5e";
}
.icon-man-woman:before {
	content: "\ea5f";
}
.icon-happy:before {
	content: "\ea60";
}
.icon-happy2:before {
	content: "\ea61";
}
.icon-smile:before {
	content: "\ea62";
}
.icon-smile2:before {
	content: "\ea63";
}
.icon-tongue:before {
	content: "\ea64";
}
.icon-tongue2:before {
	content: "\ea65";
}
.icon-sad:before {
	content: "\ea66";
}
.icon-sad2:before {
	content: "\ea67";
}
.icon-wink:before {
	content: "\ea68";
}
.icon-wink2:before {
	content: "\ea69";
}
.icon-grin:before {
	content: "\ea6a";
}
.icon-grin2:before {
	content: "\ea6b";
}
.icon-cool:before {
	content: "\ea6c";
}
.icon-cool2:before {
	content: "\ea6d";
}
.icon-angry:before {
	content: "\ea6e";
}
.icon-angry2:before {
	content: "\ea6f";
}
.icon-evil:before {
	content: "\ea70";
}
.icon-evil2:before {
	content: "\ea71";
}
.icon-shocked:before {
	content: "\ea72";
}
.icon-shocked2:before {
	content: "\ea73";
}
.icon-baffled:before {
	content: "\ea74";
}
.icon-baffled2:before {
	content: "\ea75";
}
.icon-confused:before {
	content: "\ea76";
}
.icon-confused2:before {
	content: "\ea77";
}
.icon-neutral:before {
	content: "\ea78";
}
.icon-neutral2:before {
	content: "\ea79";
}
.icon-hipster:before {
	content: "\ea7a";
}
.icon-hipster2:before {
	content: "\ea7b";
}
.icon-wondering:before {
	content: "\ea7c";
}
.icon-wondering2:before {
	content: "\ea7d";
}
.icon-sleepy:before {
	content: "\ea7e";
}
.icon-sleepy2:before {
	content: "\ea7f";
}
.icon-frustrated:before {
	content: "\ea80";
}
.icon-frustrated2:before {
	content: "\ea81";
}
.icon-crying:before {
	content: "\ea82";
}
.icon-crying2:before {
	content: "\ea83";
}
.icon-point-up:before {
	content: "\ea84";
}
.icon-point-right:before {
	content: "\ea85";
}
.icon-point-down:before {
	content: "\ea86";
}
.icon-point-left:before {
	content: "\ea87";
}
.icon-warning2:before {
	content: "\ea88";
}
.icon-notification2:before {
	content: "\ea89";
}
.icon-question:before {
	content: "\ea8a";
}
.icon-plus2:before {
	content: "\ea8b";
}
.icon-minus2:before {
	content: "\ea8c";
}
.icon-info2:before {
	content: "\ea8d";
}
.icon-cancel-circle:before {
	content: "\ea8e";
}
.icon-blocked:before {
	content: "\ea8f";
}
.icon-cross2:before {
	content: "\ea90";
}
.icon-checkmark:before {
	content: "\ea91";
}
.icon-checkmark2:before {
	content: "\ea92";
}
.icon-spell-check:before {
	content: "\ea93";
}
.icon-enter:before {
	content: "\ea94";
}
.icon-exit:before {
	content: "\ea95";
}
.icon-play2:before {
	content: "\ea96";
}
.icon-pause:before {
	content: "\ea97";
}
.icon-stop:before {
	content: "\ea98";
}
.icon-previous:before {
	content: "\ea99";
}
.icon-next:before {
	content: "\ea9a";
}
.icon-backward:before {
	content: "\ea9b";
}
.icon-forward2:before {
	content: "\ea9c";
}
.icon-play3:before {
	content: "\ea9d";
}
.icon-pause2:before {
	content: "\ea9e";
}
.icon-stop2:before {
	content: "\ea9f";
}
.icon-backward2:before {
	content: "\eaa0";
}
.icon-forward3:before {
	content: "\eaa1";
}
.icon-first:before {
	content: "\eaa2";
}
.icon-last:before {
	content: "\eaa3";
}
.icon-previous2:before {
	content: "\eaa4";
}
.icon-next2:before {
	content: "\eaa5";
}
.icon-eject:before {
	content: "\eaa6";
}
.icon-volume-high:before {
	content: "\eaa7";
}
.icon-volume-medium:before {
	content: "\eaa8";
}
.icon-volume-low:before {
	content: "\eaa9";
}
.icon-volume-mute:before {
	content: "\eaaa";
}
.icon-volume-mute2:before {
	content: "\eaab";
}
.icon-volume-increase:before {
	content: "\eaac";
}
.icon-volume-decrease:before {
	content: "\eaad";
}
.icon-loop3:before {
	content: "\eaae";
}
.icon-loop2:before {
	content: "\eaaf";
}
.icon-infinite:before {
	content: "\eab0";
}
.icon-shuffle2:before {
	content: "\eab1";
}
.icon-arrow-up-left:before {
	content: "\eab2";
}
.icon-arrow-up3:before {
	content: "\eab3";
}
.icon-arrow-up-right:before {
	content: "\eab4";
}
.icon-arrow-right3:before {
	content: "\eab5";
}
.icon-arrow-down-right:before {
	content: "\eab6";
}
.icon-arrow-down3:before {
	content: "\eab7";
}
.icon-arrow-down-left:before {
	content: "\eab8";
}
.icon-arrow-left3:before {
	content: "\eab9";
}
.icon-arrow-up-left2:before {
	content: "\eaba";
}
.icon-arrow-up2:before {
	content: "\eabb";
}
.icon-arrow-up-right2:before {
	content: "\eabc";
}
.icon-arrow-right2:before {
	content: "\eabd";
}
.icon-arrow-down-right2:before {
	content: "\eabe";
}
.icon-arrow-down2:before {
	content: "\eabf";
}
.icon-arrow-down-left2:before {
	content: "\eac0";
}
.icon-arrow-left2:before {
	content: "\eac1";
}
.icon-circle-up:before {
	content: "\eac2";
}
.icon-circle-right:before {
	content: "\eac3";
}
.icon-circle-down:before {
	content: "\eac4";
}
.icon-circle-left:before {
	content: "\eac5";
}
.icon-tab:before {
	content: "\eac6";
}
.icon-move-up:before {
	content: "\eac7";
}
.icon-move-down:before {
	content: "\eac8";
}
.icon-sort-alpha-asc:before {
	content: "\eac9";
}
.icon-sort-alpha-desc:before {
	content: "\eaca";
}
.icon-sort-numeric-asc:before {
	content: "\eacb";
}
.icon-sort-numberic-desc:before {
	content: "\eacc";
}
.icon-sort-amount-asc:before {
	content: "\eacd";
}
.icon-sort-amount-desc:before {
	content: "\eace";
}
.icon-command:before {
	content: "\eacf";
}
.icon-shift:before {
	content: "\ead0";
}
.icon-ctrl:before {
	content: "\ead1";
}
.icon-opt:before {
	content: "\ead2";
}
.icon-checkbox-checked:before {
	content: "\ead3";
}
.icon-checkbox-unchecked:before {
	content: "\ead4";
}
.icon-radio-checked:before {
	content: "\ead5";
}
.icon-radio-checked2:before {
	content: "\ead6";
}
.icon-radio-unchecked:before {
	content: "\ead7";
}
.icon-crop:before {
	content: "\ead8";
}
.icon-make-group:before {
	content: "\ead9";
}
.icon-ungroup:before {
	content: "\eada";
}
.icon-scissors2:before {
	content: "\eadb";
}
.icon-filter:before {
	content: "\eadc";
}
.icon-font:before {
	content: "\eadd";
}
.icon-ligature:before {
	content: "\eade";
}
.icon-ligature2:before {
	content: "\eadf";
}
.icon-text-height:before {
	content: "\eae0";
}
.icon-text-width:before {
	content: "\eae1";
}
.icon-font-size:before {
	content: "\eae2";
}
.icon-bold:before {
	content: "\eae3";
}
.icon-underline:before {
	content: "\eae4";
}
.icon-italic:before {
	content: "\eae5";
}
.icon-strikethrough:before {
	content: "\eae6";
}
.icon-omega:before {
	content: "\eae7";
}
.icon-sigma:before {
	content: "\eae8";
}
.icon-page-break:before {
	content: "\eae9";
}
.icon-superscript:before {
	content: "\eaea";
}
.icon-subscript:before {
	content: "\eaeb";
}
.icon-superscript2:before {
	content: "\eaec";
}
.icon-subscript2:before {
	content: "\eaed";
}
.icon-text-color:before {
	content: "\eaee";
}
.icon-pagebreak:before {
	content: "\eaef";
}
.icon-clear-formatting:before {
	content: "\eaf0";
}
.icon-table:before {
	content: "\eaf1";
}
.icon-table2:before {
	content: "\eaf2";
}
.icon-insert-template:before {
	content: "\eaf3";
}
.icon-pilcrow:before {
	content: "\eaf4";
}
.icon-ltr:before {
	content: "\eaf5";
}
.icon-rtl:before {
	content: "\eaf6";
}
.icon-section:before {
	content: "\eaf7";
}
.icon-paragraph-left:before {
	content: "\eaf8";
}
.icon-paragraph-center:before {
	content: "\eaf9";
}
.icon-paragraph-right:before {
	content: "\eafa";
}
.icon-paragraph-justify:before {
	content: "\eafb";
}
.icon-indent-increase:before {
	content: "\eafc";
}
.icon-indent-decrease:before {
	content: "\eafd";
}
.icon-share3:before {
	content: "\eafe";
}
.icon-new-tab:before {
	content: "\eaff";
}
.icon-embed:before {
	content: "\eb00";
}
.icon-embed2:before {
	content: "\eb01";
}
.icon-terminal:before {
	content: "\eb02";
}
.icon-share2:before {
	content: "\eb03";
}
.icon-mail5:before {
	content: "\eb04";
}
.icon-mail2:before {
	content: "\eb05";
}
.icon-mail3:before {
	content: "\eb06";
}
.icon-mail4:before {
	content: "\eb07";
}
.icon-google2:before {
	content: "\eb08";
}
.icon-google-plus:before {
	content: "\eb09";
}
.icon-google-plus2:before {
	content: "\eb0a";
}
.icon-google-plus3:before {
	content: "\eb0b";
}
.icon-google-drive2:before {
	content: "\eb0c";
}
.icon-facebook4:before {
	content: "\eb0d";
}
.icon-facebook2:before {
	content: "\eb0e";
}
.icon-facebook3:before {
	content: "\eb0f";
}
.icon-ello:before {
	content: "\eb10";
}
.icon-instagram2:before {
	content: "\eb11";
}
.icon-twitter4:before {
	content: "\eb12";
}
.icon-twitter2:before {
	content: "\eb13";
}
.icon-twitter3:before {
	content: "\eb14";
}
.icon-feed2:before {
	content: "\eb15";
}
.icon-feed3:before {
	content: "\eb16";
}
.icon-feed4:before {
	content: "\eb17";
}
.icon-youtube5:before {
	content: "\eb18";
}
.icon-youtube2:before {
	content: "\eb19";
}
.icon-youtube3:before {
	content: "\eb1a";
}
.icon-youtube4:before {
	content: "\eb1b";
}
.icon-twitch:before {
	content: "\eb1c";
}
.icon-vimeo4:before {
	content: "\eb1d";
}
.icon-vimeo2:before {
	content: "\eb1e";
}
.icon-vimeo3:before {
	content: "\eb1f";
}
.icon-lanyrd:before {
	content: "\eb20";
}
.icon-flickr5:before {
	content: "\eb21";
}
.icon-flickr2:before {
	content: "\eb22";
}
.icon-flickr3:before {
	content: "\eb23";
}
.icon-flickr4:before {
	content: "\eb24";
}
.icon-picassa:before {
	content: "\eb25";
}
.icon-picassa2:before {
	content: "\eb26";
}
.icon-dribbble4:before {
	content: "\eb27";
}
.icon-dribbble2:before {
	content: "\eb28";
}
.icon-dribbble3:before {
	content: "\eb29";
}
.icon-forrst:before {
	content: "\eb2a";
}
.icon-forrst2:before {
	content: "\eb2b";
}
.icon-deviantart:before {
	content: "\eb2c";
}
.icon-deviantart2:before {
	content: "\eb2d";
}
.icon-steam:before {
	content: "\eb2e";
}
.icon-steam2:before {
	content: "\eb2f";
}
.icon-dropbox2:before {
	content: "\eb30";
}
.icon-onedrive2:before {
	content: "\eb31";
}
.icon-github6:before {
	content: "\eb32";
}
.icon-github2:before {
	content: "\eb33";
}
.icon-github3:before {
	content: "\eb34";
}
.icon-github4:before {
	content: "\eb35";
}
.icon-github5:before {
	content: "\eb36";
}
.icon-wordpress:before {
	content: "\eb37";
}
.icon-wordpress2:before {
	content: "\eb38";
}
.icon-joomla:before {
	content: "\eb39";
}
.icon-blogger:before {
	content: "\eb3a";
}
.icon-blogger2:before {
	content: "\eb3b";
}
.icon-tumblr3:before {
	content: "\eb3c";
}
.icon-tumblr2:before {
	content: "\eb3d";
}
.icon-yahoo:before {
	content: "\eb3e";
}
.icon-tux:before {
	content: "\eb3f";
}
.icon-apple:before {
	content: "\eb40";
}
.icon-finder:before {
	content: "\eb41";
}
.icon-android:before {
	content: "\eb42";
}
.icon-windows:before {
	content: "\eb43";
}
.icon-windows8:before {
	content: "\eb44";
}
.icon-soundcloud3:before {
	content: "\eb45";
}
.icon-soundcloud2:before {
	content: "\eb46";
}
.icon-skype2:before {
	content: "\eb47";
}
.icon-reddit:before {
	content: "\eb48";
}
.icon-linkedin3:before {
	content: "\eb49";
}
.icon-linkedin2:before {
	content: "\eb4a";
}
.icon-lastfm3:before {
	content: "\eb4b";
}
.icon-lastfm2:before {
	content: "\eb4c";
}
.icon-delicious:before {
	content: "\eb4d";
}
.icon-stumbleupon3:before {
	content: "\eb4e";
}
.icon-stumbleupon2:before {
	content: "\eb4f";
}
.icon-stackoverflow:before {
	content: "\eb50";
}
.icon-pinterest3:before {
	content: "\eb51";
}
.icon-pinterest2:before {
	content: "\eb52";
}
.icon-xing3:before {
	content: "\eb53";
}
.icon-xing2:before {
	content: "\eb54";
}
.icon-flattr2:before {
	content: "\eb55";
}
.icon-foursquare2:before {
	content: "\eb56";
}
.icon-paypal4:before {
	content: "\eb57";
}
.icon-paypal2:before {
	content: "\eb58";
}
.icon-paypal3:before {
	content: "\eb59";
}
.icon-yelp2:before {
	content: "\eb5a";
}
.icon-file-pdf:before {
	content: "\eb5b";
}
.icon-file-openoffice:before {
	content: "\eb5c";
}
.icon-file-word:before {
	content: "\eb5d";
}
.icon-file-excel:before {
	content: "\eb5e";
}
.icon-libreoffice:before {
	content: "\eb5f";
}
.icon-html5:before {
	content: "\eb60";
}
.icon-html52:before {
	content: "\eb61";
}
.icon-css3:before {
	content: "\eb62";
}
.icon-git:before {
	content: "\eb63";
}
.icon-svg:before {
	content: "\eb64";
}
.icon-codepen:before {
	content: "\eb65";
}
.icon-chrome:before {
	content: "\eb66";
}
.icon-firefox:before {
	content: "\eb67";
}
.icon-IE:before {
	content: "\eb68";
}
.icon-opera:before {
	content: "\eb69";
}
.icon-safari:before {
	content: "\eb6a";
}
.icon-IcoMoon:before {
	content: "\eb6b";
}

