*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image:url(../images/fons1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

div#header{
    width: 100%;
    height: 38px;
    background-color: #93A8AC;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 1em 0em;
    

}

div#body{
    width: 960px;
    min-height: 659px;
    background-color: #93A8AC;
    text-align: justify;
    margin: 0px auto;
    padding: 1.25em;

}

div#article{
 width: 800px;
 height: 300px;
 margin:auto;
 margin-top: 150px;
}


div#footer{
    width: 100%;
    height: 200px;
    background-color: #93A8AC;       
    margin-top: 20px;
}

div#capcalera{
margin:auto;
height: 38px;
width:680px;
font-family: sans-serif;
background-color: white;
}

article{
 margin: auto;
 background-color: floralwhite;
 width:800px;
 height:250px;
 border: 3px solid burlywood;
 text-align: justify;
}
p{
 padding: 10px;
}


ul, ol {
list-style:none;
}

img{

height: 200px;
padding:15px;
background-color: white;
transition: background-color 0.5s;
box-shadow: inset 0px 0px 10px #565656;
margin:15px;
float: left;
}

img:hover{
background-color:darkgrey;
box-shadow: inset 0px 0px 15px black;
border-radius: 20px;
cursor: pointer;
}

#fto2{
    float: right;
}

.nav{
    margin: auto;
    display: inline-block;
}

.nav li a{
background-color:#1F5673;
color:white;
text-decoration:none;
padding:10px 15px;
display:block;
    min-width: 140px;
}

.nav>li{
float:left;
}

.nav li a:hover {
background-color: #759FBC;
cursor: pointer;
}

.nav li ul{
display:block;
position: absolute;
min-width: 140px;
visibility: hidden;
z-index: 1;
visibility: hidden;
opacity: 0;
filter: alpha(opacity=0);
-webkit-transition:500ms ease;
-moz-transition:500ms ease;
-o-transition:500ms ease;
transition: 500ms ease;
}

.nav li:hover > ul {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);

}

.nav li:hover > a > span.fa-arrow-up {
transform: rotate(180deg);
transition-duration: 0.5s;
}

.nav li > a > span.fa-spinner {
transform: rotate(1000000deg);

}


.nav li ul li{
position:relative;
}

.nav li ul li ul{
right:-170px;
top:0px;
}

@media (max-width:800px){
div#header{
    width: 100%;
}    
    
div#body{
    width: 85%;
}
    
div#capcalera{
    width: 100%;
}
    
.nav{
    width: 100%;
}
    
.nav li{
    width: 25%;
}
    
.nav li a{
    padding: 15px 0px;
    
}

p{
display: inline-block;
}
    
img{
float: none;
height: 40%;
display: block;
margin-left: auto;
margin-right: auto;

}
    
#fto2{
    float:none;
}
    
article{
margin: auto;
width:100%;
height: 600px;
    
}

}

@media (max-width:500px){
div#header{
    width: 100%;
}    
    
div#body{
    width: 85%;
}
    
div#capcalera{
    width: 100%;
}
    
.nav{
    width: 100%;
}
    
.nav li{
    width: 25%;
}
    
.nav li a{
    padding: 15px 0px;
    min-width: 0px;;
}

p{
display: inline-block;
}
    
img{
float: none;
height: 30%;
display: block;
margin-left: auto;
margin-right: auto;

}
    
#fto2{
    float:none;
}
    
article{
margin: auto;
width:100%;
height: 700px;
    
}

}