form{    
    border-radius: 5px;
    font: 16px arial, sans-serif;
    overflow: hidden;
    width:650px;
    margin: 10px 100px;
}
.logo{
    padding: 20px; 
    background-color: darkgray;
}

.logo p{
    text-align: center;
    padding: 10px;
    padding-right: 100px;
    font-weight: bold;
    font-size: 30px;
}

.logo img{
    width: 100px;
    float: left;
}


.panell{
    padding: 20px;
    background-color: lightgray;
}

.panell2{
    background-color: darkgray;
}

.inputs{
    padding: 0px 20px 0px 0px;
    border: none;
    display:  block;
    float: left;  
    margin-right: 20px;
}


.panell label{
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}

.inputs input{
    background: #fff;
    border: 1px solid #c6c7cc;
   
    color: #636466;
    padding: 6px;
    margin-top: 6px;
    width: 100%;   
}

.sexe{
    display: block;
    float: left;
    width: 100%;

}

.inputs select{
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    color: #636466;
    padding: 6px;
    margin-top: 6px;
    width: 105%; 
}

.panell select{
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    color: #636466;
    padding: 6px;
    margin-top: 6px;

}

.estudis{
    width: 100%;
    display: inline-block;
}


.mig{
    margin: 10px 0px;
}

.assignatures, div{
    margin-bottom: 10px;
    font-weight: normal;
}

.panell2 .boto{
    background: linear-gradient(#A1C084,#659157);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    float: right;
    padding: 8px 16px;
}

.panell2 .reset{
    background: linear-gradient(#3F7CAC,#253C78);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
}

.icon-news{
    font-size: 1em;
}