div#contenidor{
    margin:auto;
    margin-top:50px;
    width:960px;
    height:800px;
    background-color: red;
}

div#dreta{
    width: 300px;
    height: 500px;
    background-color: green;
    float: right;
    
}


div#groc{
    width: 300px;
    height: 280px;
    background-color: yellow;
    float: right;
    position: absolute;
    margin: -280px 0px 0px 660px;
}

div#novetats{
    width:640px;
    height:200px;
    background-color: blue;
    
   
}

div#centro{
    margin-top: 20px;
    width:640px;
    height:580px;
    background-color: purple;
    
}

