*{
    margin: 0;
    padding: 0;
}

div#foto{
    width: 300px;
    height: 300px;
    background-image: url(../images/city1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div#info{
    width: 300px;
    height: 300px;
    background-color: firebrick;
    opacity: 0;
}

div#foto:hover #info{
    opacity: 1;
}

div#info h1{
    text-decoration: underline;
    text-align: center;
    padding: 10px 0;
}

div#info p{
    color: white;
    text-align: justify;
    padding: 15px;
    margin-bottom: 20px;
}

div#info button{
    float: right;
    margin-right: 50px;
    font-size: 20px;
    padding: 5px;
    background-color: green;
    border-radius: 10px;
}